@media screen and (min-width: 1300px){
    /* ------------------------------Контент-------------------------------- */
    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }   
}
@media screen and (max-width: 1100px){
    /* ------------------------------НАВИГАЦИОННЫЙ БАР-------------------------------- */
    .logo {
        font-size: 1.55rem;
    }

    .blank-li a {
        font-size: 1rem;
        line-height: 50px;
        color: rgb(148, 147, 147);
    }

    .overlap-img {
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px){
    /* ------------------------------НАВИГАЦИОННЫЙ БАР-------------------------------- */
    .navbar-wrapper {
        position: absolute;
        top: 0;
        background: rgb(25,26,29);
    }

    .color-open {
        background: rgb(43, 44, 48);
    }

    .navbar {
        padding-top: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(129, 128, 128);
    }

    .logo {
        font-size: 1.75rem;
    }

    .blank {
        display: flex;
        margin-top: 70px;
        width: 100%;
        flex-direction: column-reverse;
    }

    .dropbtn {
        display: block;
        float: right;
        cursor: pointer;
        margin-top: 25px;
    }

    .drpbtn-l {
        width: 20px;
        margin-bottom: 7px;
        height: 5px;
        border-radius: 5px;
        background: white;
    }

    .blank-li{
        padding: 0px;
    }

    .blank-li a {
        font-size: 1.3rem;
        line-height: 33px;
    }

    .blank-li a hr{
        /* background: #e49165; */
        width: 100%;
        height: 3px;
      }
      
    .blank-li a:hover hr {
        background: inherit;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background: #e49165;
    }
    
    .blank .blank-li {
        display: none;
    }

    .blank .active {
        display: block;
    }

    /* ------------------------------------главный контент------------------------------------- */

    .content-wrapper {
        margin-top: 200px;
        /* background: red; */
    }

    .content {
        flex-direction: column;
    }

    .site-banner__content {
        margin: 0 0 40px 0;
        width: 100%;
    }

    .site-banner__title {
        font-size: 50px;
    }
    
    .site-banner__subtitle {
        margin-top: 30px; margin-bottom: 30px;
        font-size: 35px;
    }

    .overlap-img {
        /* position: relative; */
        margin: 0;
        width: auto;
        height: auto;
        padding: 30px 30px 85px 30px;
    }

    .overlap-img img {
        width: 100%;
        max-width: 650px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    /* ------------------------------НАВИГАЦИОННЫЙ БАР-------------------------------- */
    .navbar {
        padding-top: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(129, 128, 128);
    }

    .logo {
        font-size: 1.4rem;
        line-height: 45px;
    }

    .blank {
        margin-top: 60px;
    }

    .blank-li a {
        font-size: 1.1rem;
        line-height: 30px;
    }

    #nav-toggle {
        margin-top: 15px;
        padding: 16px 4px 4px 4px;
    }

        /* ------------------------------------главный контент------------------------------------- */

    .content-wrapper {
        margin-top: 150px;
        /* background: red; */
    }

    .content {
        flex-direction: column;
    }

    .site-banner__content {
        margin: 0 0 40px 0;
        width: 100%;
    }

    .site-banner__title {
        font-size: 30px;
    }
    
    .site-banner__subtitle {
        margin-top: 15px; margin-bottom: 25px;
        font-size: 20px;
        line-height: 27px;
    }

    .site-banner__btn {
        font-size: 17px;
        padding: 15px 15px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .overlap-img {
        margin: 0;
        width: auto;
        height: auto;
        padding: 20px 20px 65px 20px;
    }

    .overlap-img img {
        width: 100%;
        max-width: 650px;
        height: auto;
    }
}