* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style: none;
}

body {
    max-width: 1600px;
    margin: auto;
    background: rgb(25,26,29);
}

/* ---------------------------НАСТРОЙКИ НАВИГАЦИОННОГО БАРА------------------------- */
.navbar-wrapper {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.navbar {
    padding-top: 30px;
    margin: auto;
    width: 93%;
    transition: all .6s;
}

.logo {
    float: left;
    color: white;
    line-height: 60px;
    font-size: 1.75rem;
    font-family: 'Comfortaa', cursive;
}

.blank-li{
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: 20px;
    /* background: red; */
}

.blank-li a {
    font-size: 1.3rem;
    line-height: 50px;
    color: rgb(148, 147, 147);
}

.blank-li a:hover {
    color: white;
    transition: 0.3s;
}

.logo hr {
    height: 7px;
    background: #e49165;
    border-radius: 7px;
    transition: 0.6s;
    border: none;
    width: 70px;
}

.logo:hover hr{
    width: 30px;
    transition: 0.6s;
}

.blank-li a hr{
  margin: auto;
  transition: 0.6s;
  width: 1px;
  border: none;
}

.blank-li a:hover hr {
  transition: 0.6s;
  width: 60%;
  height: 6px;
  background: #e49165;
  border: none;
  border-radius: 10px;
}

/* ------------------------НАСТРОЙКИ ДРОП КНОПКИ--------------------------- */
.dropbtn {
    display: none;
}

#nav-toggle {
    position: relative; 
    width: 40px;
    height: 17px;
    padding: 16px 4px 4px 4px;
}

#nav-toggle span { 
    position: absolute; 
    left: auto;
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    width: 40px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px; 
}

/* Добавим анимацию всех свойств для блоков нашей иконки */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

/* Центральный блок делаем прозрачным */
#nav-toggle.active span {
    background-color: transparent;
}

/* Смещаем псевдо-элементы в центр иконки (на место основного блока) */
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

/* Наклоняем псевдо-элементы под углом 45 градусов, но в разные стороны */
#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/* ----------------------------------КОНТЕНТ----------------------------------------- */