* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style: none;
}

body {
    max-width: 1600px;
    margin: auto;
    background: rgb(25,26,29);
}

/* ---------------------------НАСТРОЙКИ НАВИГАЦИОННОГО БАРА------------------------- */
.navbar-wrapper {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.navbar {
    padding-top: 30px;
    margin: auto;
    width: 93%;
    transition: all .6s;
}

.logo {
    float: left;
    color: white;
    line-height: 60px;
    font-size: 1.75rem;
    font-family: 'Comfortaa', cursive;
}

.blank-li{
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: 20px;
    /* background: red; */
}

.blank-li a {
    font-size: 1.3rem;
    line-height: 50px;
    letter-spacing: 1px;
    color: rgb(148, 147, 147);
}

.blank-li a:hover {
    color: white;
    transition: 0.3s;
}

.logo hr {
    height: 7px;
    background: rgb(177, 96, 59);
    border-radius: 7px;
    transition: 0.6s;
    border: none;
    width: 70px;
}

.logo:hover hr{
    width: 30px;
    transition: 0.6s;
}

.blank-li a hr{
  margin: auto;
  transition: 0.6s;
  width: 1px;
  height: 6px;
  border: none;
  background: inherit;
}

.blank-li a:hover hr {
  transition: 0.6s;
  width: 60%;
  height: 6px;
  background: rgb(177, 96, 59);
  border: none;
  border-radius: 10px;
}

/* ------------------------НАСТРОЙКИ ДРОП КНОПКИ--------------------------- */
.dropbtn {
    display: none;
}

#nav-toggle {
    position: relative; 
    width: 40px;
    height: 17px;
    padding: 16px 4px 4px 4px;
}

#nav-toggle span { 
    position: absolute; 
    left: auto;
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    width: 40px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px; 
}

/* Добавим анимацию всех свойств для блоков нашей иконки */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

/* Центральный блок делаем прозрачным */
#nav-toggle.active span {
    background-color: transparent;
}

/* Смещаем псевдо-элементы в центр иконки (на место основного блока) */
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

/* Наклоняем псевдо-элементы под углом 45 градусов, но в разные стороны */
#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/* ----------------------------------КОНТЕНТ----------------------------------------- */

.content-wrapper {
    margin: auto;
    max-width: 93%;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 150px;
}

.site-banner__content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    margin-right: auto;
    width: 50%;
}

.site-banner__title {
    font-family: 'Comfortaa', cursive;
    font-size: 55px;
    color: white;
}

.site-banner__subtitle {
    margin-top: 30px; margin-bottom: 30px;
    color: rgb(148, 147, 147);
    font-size: 35px;
    line-height: 45px;
    font-family: 'Montserrat';
}

.site-banner__btn {
    color: white;
    border: 3px solid  rgb(25,26,29);
    background: rgb(177, 96, 59);
    font-size: 27px;
    padding: 25px 30px;
    border-radius: 1000px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

.site-banner__btn:hover {
    background: inherit;
    border: 3px solid rgb(177, 96, 59);
    transition: 0.6s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.overlap-img {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    margin-left: auto;
    padding-top: 25px;
    background: rgb(18,19,22);
    height: 480px;
    width: 450px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
    object-fit: cover;
}